### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:

total_num_players = purchase_data['SN'].nunique()
total_purchases_df = pd.DataFrame({"Total Number of Players":[total_num_players]})
total_purchases_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

In [8]:
total_purchaces = (purchase_data["Purchase ID"]).count()
total_items = purchase_data['Item ID'].nunique()
average_price = round(purchase_data['Price'].mean(),2)
total_rev = purchase_data['Price'].sum()

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[total_items], "Average Price":"$"+str(average_price), 
                        "Number of Purchases":[total_purchaces], "Total Revenue":"$"+str(total_rev)})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender_purchase_df = pd.DataFrame(purchase_data['Gender'].value_counts())
gender_purchase_df.set_index('Gender')
gender_purchase_df.columns = ["Total Count"]
gender_purchase_df['Percentage of Players'] = ((gender_purchase_df["Total Count"] / gender_purchase_df["Total Count"].sum()).apply('{:.2%}'.format))
gender_purchase_df

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

In [12]:
gender_group = purchase_data.groupby("Gender")
purchase_count = gender_group["Purchase ID"].count()

average_purchase_price = gender_group["Price"].mean()
average_purchase_total = gender_group["Price"].sum()
total_count_gender = gender_group.nunique()["SN"]
average_purchase_per_person = average_purchase_total/total_count_gender

purchasing_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": average_purchase_price,
                                    "Average Purchase Value":average_purchase_total,"Avg Purchase Total per Person": average_purchase_per_person})

purchasing_analysis_gender.index.name = "Gender"

purchasing_analysis_gender.style.format({"Average Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Avg Purchase Total per Person":"${:,.2f}"})

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_labels)
age_grouped = purchase_data.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_num_players) * 100
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_count_age = age_grouped["Purchase ID"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,"Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,"Average Purchase Total per Person": avg_purchase_per_person_age})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
spender_stats = purchase_data.groupby("SN")

purchase_spender_count = spender_stats["Purchase ID"].count()
purchase_price_spender_mean = spender_stats["Price"].mean()
purchase_spender_total = spender_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_spender_count,"Average Purchase Price": purchase_price_spender_mean,
                             "Total Purchase Value":purchase_spender_total})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])

purchase_item_count = item_stats["Price"].count()
purchase_value_sum = (item_stats["Price"].sum()) 

item_price = purchase_value_sum/purchase_item_count

most_popular_items = pd.DataFrame({"Purchase Count": purchase_item_count, "Item Price": item_price,
                                   "Total Purchase Value":purchase_value_sum})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})